{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Awards Application - Account </title>
    <!-- favico -->
    <link rel="shortcut icon" href="https://img.icons8.com/flat-round/64/000000/medal--v1.png"/>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    {% endblock %}

</head>

<body>
    <!-- content -->
    {% block content %}

    {%endblock%}

    

    <!-- scripts -->
    {% block scripts %}
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>