{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/addProject.css' %}">
{% endblock %}

{% block content %}
<div class="container box">
    <div class="text-center">
    <div class="title">You can create a Post Here</div>
    <hr>
    </div>
    <form action="{%url 'create_post'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-dark " value="Create Post">
    </form>
</div>
{% endblock %}