{% extends "base.html" %}
{% block content %}
<br>
<style>
  .let{
    border-radius: 15px;
    padding: 5px 5px;
    margin: 1rem;
    color: white;
    align-items: center;
  

}
.card-img-top{
  width:100px;
  height:100px;
  margin-top: 5px;
  margin-left: 45%;
}
</style> 
<div class="container-fluid " style="background-color;">
  <h2 class="text-center text-info" style="font-size:bold; font-weight:800; font-style:italic;">My Profile</h2>
        <div class="">
            <div class="text-center">
                <div class="card">
                    {% if profile.profile_photo %}
                    <img style="border-radius: 50%" src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                    {%else%}
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    {% endif %}
                    <div class="card-body text-center">
                        <p style="font-size:bold; font-weight:800;text-transform:capitalize">Username:{{profile.user.username }}</p>
                        <p>
                            {% if profile.bio %}
                            <P style="font-size:bold; font-weight:800">Bio:{{ profile.bio }} </P>
                            
                            {% else %}
                            <span class="text-danger">No about me</span>
                            {% endif %}
                        </p>
                        <h6 style="font-size:bold; font-weight:800">Joined on: {{ user.date_joined }}</h6>
                    </div>
                </div>
            </div>
          </div>
            <div class=" ">
              <div class="let text-center">
                {% if request.user is user %}  
                <a href="{%url 'update_profile' user.id %}" style="color:black;font-size: 0.7em;" class="btn btn-info btn-sm">
                  Edit Profile
                </a>
              {% endif %}
              <a href="{%url 'create_business'  %}" style="color:black;font-size: 0.7em;" class="btn btn-info btn-sm text-center">
                Create Business
              </a>
              <a
              href="{%url 'create_post'  %}" style="color: black; font-size: 0.7em"
            class="btn btn-info btn-sm">
              Create Post
            </a>
            </div>
        
  
  </div>
  <br>
{% endblock %}
