{% extends "base.html" %}
{% block content %}
<style>
    .image{
        height: auto;
        width: 100%;
    }
    .hood{
        margin-top: 5%;
    }
</style>
<div class="container hood">
      <div class="hoods">
          <div class="row">
            <div class="col-md-6">
                <img src="{{hood.image.url}}"class="image">
            </div>
            <div class="col-md-6">
                <p>Neighborhood_Name: {{hood.neighbourHood_name}}</p>
                <p>Neighborhood_Description: {{hood.description}}</p>
                <p>Neighborhood_Count: {{hood.occupants_count}}</p>
                <p>Neighborhood_Location: {{ hood.location }}</p>
                <p>Date Created: {{ hood.created_on|date }}</p>
                <p>Date Updated: {{ hood.updated_on|date}}</p>
            </div>
            
          </div>
        
    </div>
    <h2 style= "font-style:italic;"class="text-center text-info">Businesses in This Neighborhood</h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="{%url 'create_business'  %}"  class="btn btn-outline-dark bg-info text-white rounded-pill mr-4">
                 CREATE Business
                </a>
            </div>
            <div class="card m-3">
                <table class="table">
                    <thead>
                        <tr>
                           
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                            <th scope="col">Neighborhood</th>
                            <th scope="col">Date</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for business in businesses %}
                        <tr>
                            <td class="b-text"><h4>{{ business.name }}</h4></td>
                            <td>{{ business.description }}</td>
                            <td>{{ business.email }}</td>
                            <td>{{ business.location }}</td>
                            <td>
                                <span class="">
                                    {{ business.neighborhood }}
                                </span>
                            </td>
                            <td>{{ business.created_on|date }}</td>
                            <td>
                                <a class="text-danger" href="">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">No Businesses Created!</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 style= "font-style:italic;"class="text-center text-info">Posts in This Neighborhood</h2></b>
    <div class="col-md-12 links">
        <div class="col-md-6">
            <a href="{%url 'create_post'  %}"  class="btn btn-outline-dark bg-info text-white rounded-pill">
             Add Post
            </a>
        </div>
        <br>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Location</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td><span class="badge rounded-pill bg-secondary text-white">
                                {{ post.location }}
                            </span></td>
                            <td>
                                <a class="text-danger" href="">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-danger">No Posts Created!</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    
{% endblock %}