{% extends 'base.html' %}
{% load bootstrap4 %} 
{% block content %}
<!-- content -->
<style>
  body{
  
  font-weight: 500;
  background-color: #595d64;
 }  
</style>
<br>
<div class="container text-light" style="background-image:url('https://raw.githubusercontent.com/Owiti-Charles/HoodWatch/master/static/images/bg.jpg');background-size: cover; font-family: 'Cookie', cursive;font-size: 20px; ">
  <div class="col-md-6"style="margin-left:25%">
    <h3 class="text-center"><u style="font-style: italic; color: black">Update Profile</u></h3>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      {% bootstrap_form form %}
      <div class="form-group">
        <input type="submit" class="btn btn-light btn-sm " value="Update" />
      </div>
      <br>
    </form>
  </div>
</div>

{% endblock%}